@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

body{
  font-family: 'Open Sans', sans-serif;

}

.App {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 70vh;
}

.col{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom{
  border-bottom: 5px solid #000;
}

.right{
  border-right: 5px solid #000;
}

.square{
  padding: 30px;
  font-size: 36px;
  text-align: center;
}